html {
    height: 100%;
    margin-top: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: #e8450a;
    background-repeat:no-repeat;
    background: -webkit-linear-gradient( to left top, #e8450a 50%, #fe7e59);
    background: -moz-linear-gradient( to left top, #e8450a 50%, #fe7e59);
    background: -ms-linear-gradient( to left top, #e8450a 50%, #fe7e59);
    background: -o-linear-gradient( to left top, #e8450a 50%, #fe7e59);
    background: linear-gradient( to left top, #e8450a 50%, #fe7e59);
}


@font-face {
    font-family: siteFont;
    src: url(../fonts/Monda-Regular.ttf);
}

@font-face {
    font-family: siteFont2;
    src: url(../fonts/Quicksand-Regular.otf);
}

@font-face {
    font-family: siteFont3;
    src: url(../fonts/Raleway-Regular.ttf);
}

@font-face {
    font-family: siteBoldFont3;
    src: url(../fonts/Raleway-SemiBold.ttf);
}

@font-face {
    font-family: siteBoldFont;
    src: url(../fonts/Monda-Bold.ttf);
}

body {
    font-family: siteFont2;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    min-height: 0px;
}

.logo-img-container {
    position: fixed;
    width: inherit;
    left: 0;
    bottom: 0;
    top: 0;
}

.img-logo {
    width: 200px;
    padding-top: 200px;
    -webkit-animation-name: leftFadeIn; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    -webkit-animation-timing-function: ease;
    animation-name: leftFadeIn;
    animation-duration: 2s;
    animation-timing-function: ease;
    opacity: 0;
    -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
    animation-fill-mode: forwards;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes leftFadeIn {
    0%   {opacity: 0}
    100%  {opacity: 1}
}

/* Standard syntax */
@keyframes leftFadeIn {
    0%   {opacity: 0}
    100%  {opacity: 1}
}

.login-container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    padding-bottom: 20px;
    overflow-y: auto;
    background: #333333;
    -webkit-box-shadow: 3px 0px 5px 0px rgb(171, 167, 171);
    -moz-box-shadow: 3px 0px 5px 0px rgb(171, 167, 171);
    box-shadow: 3px 0px 5px 0px rgb(171, 167, 171);
    -webkit-animation-name: rightSlider; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: rightSlider;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-timing-function: ease;
    opacity: 0;
    -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
    animation-fill-mode: forwards;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes rightSlider {
    0%   {opacity:0;background-color:red; right:-500px; top:0px;}
    100%  {opacity:1;right:0px; top:0px;}
}

/* Standard syntax */
@keyframes rightSlider {
    0%   {opacity:0;background-color:red; right:-500px; top:0px;}
    100%  {opacity:1;right:0px; top:0px;}
}

.login-container .back i{
    background: #fe7e5a;
    color: white;
    margin-top: 20px;
    margin-left: -15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: .5s;
}

.login-container .back i:hover{
    background: #e67358;
}

.login-heading {
    color: #fe8d3b;
    text-align: center;
    margin-bottom: 30px;
    font-size: 60px;
}

.login-tabs-container .nav-pills>li>a {
    background: none;
    color: #979797;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 20px;
}

.login-tabs-container .nav-pills>li.active>a {
    background: none;
    color: #fe8d3b;
}

.login-tabs-container .nav-pills>li.branch>a {
    border-right: 1px solid #979797;
}


@media (max-width: 767px) {
    .login-tabs-container .nav-justified>li {
        display: table-cell;
        width: 1%;
    }
}

.login-tabs-content .branch-form {
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.login-error {
    color: red;
    font-weight: bold;
    font-size: 20px;
}

.login-tabs-content .branch-form .input-group {
    margin-bottom: 30px;
}

.login-tabs-content .branch-form .input-group-addon {
    padding: 6px 12px;
    font-size: 21px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    background: none;
    border: none;
    border-radius: 0px;
    color: rgba(254, 141, 59, 0.71);
    border-bottom: 1px solid rgba(254, 141, 59, 0.38);
}

.login-tabs-content .branch-form .form-control {
    background: none;
    border: none;
    border-bottom: 1px solid rgba(254, 141, 59, 0.38);
    box-shadow: none;
    border-radius: 0;
    color: #fe8d3b;
    font-size: 17px;
}

.login-tabs-content .branch-form .btn-login-submit {
    background: #e8450a;
    color: white;
    text-transform: uppercase;
    border: none;
    border-radius: 0;
    width: 200px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 16px;
    margin-top: 15px;
    transition: .5s;
}

.login-tabs-content .branch-form .btn-login-submit:hover {
    background: #ae350a;
}


.login-tabs-content .restaurant-form {
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.login-tabs-content .restaurant-form .input-group {
    margin-bottom: 30px;
}

.login-tabs-content .restaurant-form .input-group-addon {
    padding: 6px 12px;
    font-size: 21px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    background: none;
    border: none;
    border-radius: 0px;
    color: rgba(254, 141, 59, 0.71);
    border-bottom: 1px solid rgba(254, 141, 59, 0.38);
}

.login-tabs-content .restaurant-form .form-control {
    background: none;
    border: none;
    border-bottom: 1px solid rgba(254, 141, 59, 0.38);
    box-shadow: none;
    border-radius: 0;
    color: #fe8d3b;
    font-size: 17px;
}

.login-tabs-content .restaurant-form .btn-login-submit {
    background: #e8450a;
    color: white;
    text-transform: uppercase;
    border: none;
    border-radius: 0;
    width: 200px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 16px;
    margin-top: 15px;
    transition: .5s;
}

.login-tabs-content .restaurant-form .btn-login-submit:hover {
    background: #ae350a;
}

.seperator-row {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 0px;
}

.seperator-row .sep1 {
    padding-left: 0px;
    padding-right: 5px;
}

.seperator-row hr{
    border-color: #979797;
}

.seperator-row .sep2 {
    padding-left: 5px;
    padding-right: 0px;
}

.seperator-row .or {
    color: #979797;
    padding-top: 10px;
    text-align: center;
}

.btn-signup {
    background: #fe7e59;
    color: #333333;
    border: none;
    border-radius: 0;
    width: 200px;
    font-size: 16px;
    text-transform: uppercase;
    padding-top: 8px;
    padding-bottom: 8px;
    transition: .5s;
}

.btn-signup:hover {
    background: #e67358;
}

.select2-container--default .select2-selection--single {
    background:none;
    border: none;
    border-bottom: 1px solid rgba(254, 141, 59, 0.38);
    border-radius: 0px;
    padding-bottom: 4px;
    padding-top: 3px;
    padding-left: 4px;
    height: 40px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #fe8d3b;
    line-height: 37px;
    font-size: 17px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: auto;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
    padding-top: 32px;
    padding-right: 26px;
}

@media (max-width: 330px) {
    .login-heading {
        font-size: 40px;
    }

    .login-tabs-container .nav-pills>li>a {
        font-size: 15px;
    }

    .login-tabs-content .branch-form {
        padding-left: 0px;
        padding-right: 0px;
    }

    .login-tabs-content .restaurant-form {
        padding-left: 0px;
        padding-right: 0px;
    }

    .login-tabs-content .branch-form .btn-login-submit {
        width: 100%;
    }

    .login-tabs-content .restaurant-form .btn-login-submit {
        width: 100%;
    }

    .seperator-row {
        width: 100%;
    }

    .btn-signup {
        width: 100%;
    }

    .login-tabs-content .branch-form .input-group-addon {
        padding: 6px 12px;
        font-size: 15px;
    }

    .login-tabs-content .branch-form .form-control {
        font-size: 15px;
    }

    .login-tabs-content .restaurant-form .input-group-addon {
        padding: 0px;
        font-size: 21px;
    }

    .login-tabs-content .restaurant-form .form-control {
        font-size: 15px;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        font-size: 15px;
    }

}


@media (max-width: 265px) {
    .login-heading {
        font-size: 30px;
    }

    .login-tabs-container .nav-pills>li>a {
        font-size: 12px;
    }

    .login-tabs-content .branch-form .form-control {
        font-size: 12px;
    }

    .login-tabs-content .restaurant-form .form-control {
        font-size: 12px;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        font-size: 12px;
    }

}